<?xml version='1.0'?>
<robot name="rosbot_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="controller_config_file" default="$(find rosbot_xl_manipulation_controller)/config/diff_drive_controller_manipulation.yaml" />
  <xacro:arg name="manipulator_usb_port" default="/dev/ttyUSB0" />
  <xacro:arg name="manipulator_baud_rate" default="1000000" />
  <!-- collision_enabled parameter added due to collisions using visual meshes, which are very
    heavy and slow down simulation, this parameter allows to easily disable them -->
  <xacro:arg name="manipulator_collision_enabled" default="true" />
  <xacro:arg name="joint1_limit_min" default="-2.356" />
  <xacro:arg name="joint1_limit_max" default="5.934" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="namespace" default="" />

  <link name="cover_link"/>

  <xacro:include
    filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x_macro.urdf.xacro"
    ns="manipulator" />
  <xacro:manipulator.open_manipulator_x parent_link="cover_link"
    xyz="-0.122 0.0 0.0"
    rpy="0.0 0.0 0.0"
    use_sim="$(arg use_sim)"
    collision_enabled="$(arg manipulator_collision_enabled)"
    usb_port="$(arg manipulator_usb_port)"
    baud_rate="$(arg manipulator_baud_rate)"
    joint1_limit_min="$(arg joint1_limit_min)"
    joint1_limit_max="$(arg joint1_limit_max)" />

  <xacro:if value="$(arg use_sim)">
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find open_manipulator_x_controller)/config/manipulator_controller.yaml</parameters>
        <ros>
          <namespace>$(arg namespace)</namespace>
          <remapping>/diagnostics:=diagnostics</remapping>
          <remapping>/tf:=tf</remapping>
          <remapping>/tf_static:=tf_static</remapping>
        </ros>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
