<?xml version='1.0'?>
<robot name="rosbot_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="mecanum" default="false" />
  <xacro:arg name="manipulator_collision_enabled" default="true" />
  <!-- collision_enabled parameter added due to collisions using visual meshes, which are very
    heavy and slow down simulation, this parameter allows to easily disable them -->

  <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl_macro.urdf.xacro" ns="husarion" />
  <xacro:husarion.rosbot_xl_robot use_sim="$(arg use_sim)" mecanum="$(arg mecanum)" />

  <xacro:include filename="$(find ros_components_description)/urdf/rplidar_s1.gazebo.xacro" ns="lidar" />
  <xacro:lidar.rplidar_s1
    parent_link="cover_link"
    xyz="0.0 0.0 0.0"
    rpy="0.0 0.0 ${pi}"
    use_gpu="true"
    simulation_engine="ignition-gazebo" />
  <!-- use_gpu has to be set to true, CPU lidar doesn't work in ignition - https://github.com/gazebosim/gz-sensors/issues/26 -->

  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro" ns="manipulator" />
  <xacro:manipulator.open_manipulator_x parent_link="cover_link"
    xyz="-0.1 0.0 0.0"
    rpy="0.0 0.0 ${pi}"
    use_sim="$(arg use_sim)"
    collision_enabled="$(arg manipulator_collision_enabled)" />

</robot>