<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rosbot_xl">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rosbot_xl urdf file -->
    <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="rosbot_xl.ros2_control.xacro" />


    <xacro:rosbot_xl_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
